<!DOCTYPE html>
<html lang="en">
<head>
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>SDIOT Technologies</title>
  
  <!-- Open Graph Tags for thumbnails -->
  <meta property="og:title" content="Sdiot Technologies Private Limited" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://sdiot.io" />
  <meta property="og:image:secure_url" content="https://sdiot.io/images/logo-sdiot-small.png" />
  <meta property="og:image:url" content="http://sdiot.io/images/logo-sdiot-small.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:alt" content="Sdiot Technologies Private Limited Logo" />

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">

  <!--  Styles  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/56135360ca.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P9MCKJL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  