<%- include('../partials/header') %>
<div class="container logo-container">
  <img src="/images/logo-sdiot-transparent.png" class="logo" alt="SDIOT Technologies">
</div>
<article class="content">
  <section class="container">
    <h4>About us</h4>
    <p>We are a nascent tech company with a diverse portfolio with products and services aimed towards making our customers' lives better. <br> We offer business development services primarily for SMEs, end-to-end product design and technical consultancy services. <br> </p>
  </section>
  <section class="container">
    <h4>Reach us</h4>
    <address>
      <div class="address-row"><i class="fas fa-envelope"></i><a href="mailto:hello@sdiot.io"> hello@sdiot.io</a></div>
      <div class="address-row"><i class="fas fa-phone-alt"></i><a href="tel:+91-844-798-1252"> +91 844 798 1252</a></div>
      <div class="address-row"><i class="fas fa-map-marked-alt"></i> <p>660/1, SECTOR-30 <br>GANDHINAGAR, GUJARAT <br>INDIA - 382030</p> </div>
    </address>
  </section>
  <section class="container">
    <h4>Follow us</h4>
    <div class="container social-media-bar">
      <a href="https://www.facebook.com/SDIOT-Technologies-103777017746277" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.linkedin.com/company/sdiot-technologies/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </section>
</article>
<%- include('../partials/footer')%>